/* $desktop:1200px;
$laptop:1024;
$tablet:768px;
$phone:425px; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */

}

html{
    font-size: 62.5%;
    /* font-size: 10px;
    font-size: 1rem; */
}
body {
    /* font-size: 10px; */
    line-height: 1.5;
    font-family: 'Inter bold', sans-serif;  
}


.navbar{
    position: sticky;
    top: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
}

.navbar .container{
    height: 7.6rem;
    display: flex;
    align-items: center;
    /* align-content: center; */
    justify-content: space-around;
}

.navbar .logo{
    font-size: 1.6rem;
    font-weight: bold;
}

.navbar ul{
    display: flex;
}

ul{
    list-style-type: none;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar ul li {
    margin-left: 2.0rem;
}
.items a{
    font-size: 1.6rem;
    font-weight: 400;
    color: #666666;
}
.navbar-button button{
    font-size: 1.6rem;
    border-radius: 1.0rem;
    border: none;
    padding: 1.0rem 2.5rem;
    background: black;
    color: white;
}

.content{
    display: flex;
    justify-content: space-evenly;
    padding: 6rem;
    background: darkcyan;
    
}


.left-comp{
    padding: 10rem 3rem;
    margin: 6rem;
    text-align: left;
    width: 50%;
    flex: 1;
    background: yellow;
}



.right-comp{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background: red;
    /* padding: 2%; */
}

.heading{
    font-size: 5.0rem;
    font-weight: bold;
}



.left-comp h2{
    font-size: 1.9rem;
    font-weight: lighter;
    margin: 1rem 0;
}

.left-comp button{
    background: black;
    color: white;
    padding: 1.3rem 6.5rem;
    border: none;
    border-radius: 1.0rem;
}


.header-img{
    max-width: 30.0rem;
    max-height: 35.0rem;
}

.popular-template{
    font-size: 3.0rem;
    padding-left:13.5rem ;
    margin: 2rem 0;
}

.gallery{
    /* background: rgb(182, 84, 84); */
    height: 35.rem;
    width: 100%;
}
.card img{
    max-width: 25.0rem;
    padding: 2rem 1rem;
}

.gallery{
    display: flex;
    justify-content:space-evenly;
    padding: 2rem;
}

.card{
    border-radius: 1.0rem;
    /* max-height: 64.0rem; */

    margin: 0.3rem;
    box-shadow: 0px 8px 24px rgb(149 157 165 / 20%);
    
    /* background: rgb(58, 36, 36); */
    text-align: center;
    align-items: center;
    max-width: 318px;
    display: flex;
    flex-direction: column;
}

.card h2{
    padding: 0 2rem;
    align-self: flex-start;
    font-weight: bold;
}

.card h3{
    font-weight: lighter;
    font-size:medium;
    text-align: start;
    padding:0 2rem;
    margin: 1rem 0;
}

.gallery-button-area{
    /* background: yellow; */
    padding-left:13rem ;

}

.gallery-button{
    font-size: 1.5rem;
    background: black;
    color: #ffffff;
    padding:1.2rem 3rem;
    border-radius: 0.7rem;
    border: none;    
}

.empty{
    height: 14rem;
    width: 100%;
    /* background: yellow; */
}

.what{
    padding: 1rem 0;
    text-align: center;
    /* background-color: aqua; */
}

.what h1{
    font-size: 4.5rem;
}

.what h3{
    padding: 0.3rem 32rem;
    font-weight: 400;
    font-size: 1.9rem;
}
.gallery-photo{
    justify-content:space-evenly;
    display: flex;
    flex-wrap: wrap;
    /* background: red; */
    max-height:50.0rem;
}
.photo img{
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
}
.photo{
    padding: 2rem;
    max-width: 34rem;
    max-height: 80.0rem;
    text-align: start;
    /* background: yellow; */
}
.photo h1{
    font-size: 2.6rem;
}
.photo h3{
    font-size: 1.8rem;
    font-weight: lighter;
    color: #666666;
}

.about{
    text-align: center;
}

.about h1{
    font-size: 4.6rem;
}
.about h3{
    font-size: 2rem;
    font-weight: lighter;
    padding: 1rem 32rem;
}

.certified{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certified .notion-logo img{
    height: 14rem;
    max-width: 100%;
}

.certified .notion-text h3{
    font-size: 1.4rem;
    font-weight: lighter;
    color: #666666;
}
.teams{
    text-align: center;
    color:#666666;
}

.teams .team-photo img{
    padding: 3rem 0;
    max-width: 50%;
}

.testimonials h1{
    font-size: 3rem;
    text-align: center;
}

.testimonial-review{
    display: flex;
    justify-content: center;
}
.test-card{
    /* background: red; */
    padding: 2rem;
    max-width: 35rem;
}
.test-card h1{
font-size: 2rem;
}

.test-card h2{
    font-size: 2rem;
    font-weight: lighter;
}

.test-card h3{
    font-size: 2rem;
    padding-top: 3rem;
    font-weight: bold;

}

.test-card h4{
    font-size: 1.6rem;
    font-weight: lighter;
    color:#666666 ;
}

.get-in-touch{
    display: flex;
}

.left-side{
    padding: 2rem 15rem;
    width: 50%;
    /* background: red; */
}
.left-side h1{
    font-size: 3rem;
}
.left-side h2{
    font-size: 2rem;
    font-weight: lighter;
}

.left-side img{
    max-width: 90%;
}

.right-side{
    border-radius: 0.5rem;
    width: 50%;
    /* background: yellow; */
}

.form-style{
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

.form{
    max-width: 80%;
    box-shadow: 0px 8px 24px rgb(149 157 165 / 20%);
    border-radius: 1.0rem;
    /* background: rebeccapurple; */
}

.form-tstyle{
    font-size: 1.7rem;
}

.input{
    padding: 1rem;
    margin: 1.5rem 0;
    border:solid 1px rgb(211, 208, 208);
    border-radius: 0.5rem;
    box-shadow:0px 8px 24px rgb(149 157 165 / 20%) ;
    font-size: 1.7rem;
}

.send-button{
    margin-top:1rem ;
    color: white;
    background: black;
    padding: 1.0rem 2.0rem;
    width: 8rem;
    /* max-width: 100%; */
    border-radius: 1.0rem;
    border: 0;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    /* background: darkblue; */
}

.part1{
    /* flex: 3; */
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    padding: 2rem 10rem;
    margin-right: 12rem;
}

.part1 h2{
    font-size: 1.8rem;
}

.part2{
    /* flex: 1; */

    /* background: rgb(0, 255, 85); */
    display: flex;
    flex-direction: column;
    padding: 5rem;

}
.part3{
    /* flex: 1; */

    /* background: rgb(85, 0, 255); */
    display: flex;
    flex-direction: column;
    padding: 5rem;
    

}



.part1 img {
    max-width: 4rem;
}
.part1 h3{
    font-size: 1.6rem;
    margin-top: 6.0rem;
    font-weight: lighter;
    color: #666666;
}
.part2 h1{
    font-size: 1.8rem;
}
.part2 a{
    font-size: 1.5rem;

    text-decoration: none;
    color: #666666;
}
.part3 a{
    font-size: 1.5rem;

    text-decoration: none;
    color: #666666;
}


@media(max-width:998px)
{
    html{
        font-size: 55%;
    }
}
@media(max-width:768px)
{
    html{
        font-size: 45%;
    }
}